<div class="">
    <div>
        <label>nombre</label>
        <input type="text" [(ngModel)]="producto.nombre">
    </div>
    <div>
        <label>precio</label>
        <input type="number" [(ngModel)]="producto.precio">
    </div>
    <div>
        <label>descripcion</label>
        <input type="text" [(ngModel)]="producto.descripcion">
    </div>
    <button>Enviar</button>
</div>


<!-- 
@if(producto){
<article class="producto">
    <h3>{{producto.nombre}}</h3>
    <div>
        <p>{{producto.precio}}</p>
        <p>{{producto.descripcion}}</p>
    </div>
</article>
} -->

<pre>
   {{producto | json}}
< bnhjyg6t5rdesz<>