.card-tarea {
max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 16px;
  color: white;
  background: linear-gradient(135deg, 0077ff, yellow, #f30800fb);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}