<!-- LISTA DE TODOS  -->
<section>
    
     <p>LISTA TODO's</p>

    <input type="text" id="nombreTarea">
    <select name="prioridad" id="prioridadTarea" >
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="Alta">Alta</option>
    </select>

    <button  id="guardarTarea">Guardar</button>
</section>

<p>TAREAS :</p>
<div>
    <ul id="listaTareas">






        <li id="tarea">
            <p>nombre tarea</p>
            <p>prioridad</p>
        </li>
    </ul>
</div>