@if (nuevaTarea) {

<div class="container">
    <div>
        <label class="form-label col-12">Nombre tarea</label>
        <input type="text" [(ngModel)]="nuevaTarea.nombreTarea">
    </div>

    <div>
        <label class="form-label col-12">Prioridad</label>
        <select [(ngModel)]="nuevaTarea.prioridadTarea" class="seleccion">
            
            <option value="app-card-tarea"   class="rojo" >rojo</option>
            <option value="app-card-tarea"   class="amarillo" >amarillo</option>
            <option value="app-card-tarea"  class="verde" >verde</option>

        </select>


        <!-- <input type="text" [(ngModel)]="nuevaTarea.prioridadTarea"> -->
    </div>

    <button  (click)="onClick()" class="btn btn-info mt-4">Enviar</button>

</div>
<app-card-tarea [tarea]="nuevaTarea"></app-card-tarea>


}